body{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align:center;
  font-family: "Open Sans Semibold";
  background-color:   #f5f5ef;
}
li {
  display: inline-block;
  margin: 10px 40px ;
}
a{
  text-decoration: none;
  color: deepskyblue;
}
img{
  width: 100%;
}
h2{
  font-size: 22pt;
}
p{
  font-size: 14pt;
  margin-left: 200px;
  margin-right: 200px;
}
.button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px 10px;
  border-radius: 8px;
}
footer{
  text-transform: capitalize;
  text-align: right;
  margin-top: 100px;

}
